{% extends "parent.html" %}
{% block title %}
Home
{% endblock %}

{% block body %}
<h1>Welcome to Youtube Django Clone</h1> <br>

<br>

<div class="card-deck">
{% for content in video_list %}
    <div class="card">
        <a href="{{content.link}}" target="_blank">
            <img src="{{content.image}}" class="card-img-top" alt="...">
        </a>
        <div class="card-body">
            <a href="{{content.link}}">
                <h5 class="card-title">{{content.title}}</h5>
            </a>
            <p class="card-text">{{content.channel}}</p>
            <p class="card-text">
            <ul>
                <li class="view_list"><small class="text-muted">{{content.views}}</small></li>
                <li class="date_list"><small class="text-muted">{{content.date}}</small></li>
            </ul></p>
        </div>
    </div>
{% endfor %}
</div>
{% endblock %}
